link(href='#{cdnServer}/flat-ui/bootstrap/css/bootstrap.css#{cacheBreaker}', rel='stylesheet')
link(href='#{cdnServer}/flat-ui/css/flat-ui.css#{cacheBreaker}', rel='stylesheet')
link(href='#{cdnServer}/common-files/css/icon-font.css#{cacheBreaker}', rel='stylesheet')
link(href='#{cdnServer}/common-files/css/animations.css#{cacheBreaker}', rel='stylesheet')
link(href='#{cdnServer}/css/site.css#{cacheBreaker}', rel='stylesheet')
//- link(href='#{cdnServer}/jasny/css/jasny-bootstrap.css#{cacheBreaker}', rel='stylesheet')
link(href='#{cdnServer}/css/stylish-portfolio.css#{cacheBreaker}', rel='stylesheet')

//- link(href='#{cdnServer}/ui-kit/ui-kit-blog/css/style.css', rel='stylesheet')
//- link(href='#{cdnServer}/ui-kit/ui-kit-contacts/css/style.css', rel='stylesheet')
//- link(href='#{cdnServer}/ui-kit/ui-kit-content/css/style.css', rel='stylesheet')
//- link(href='#{cdnServer}/ui-kit/ui-kit-crew/css/style.css', rel='stylesheet')
//- link(href='#{cdnServer}/ui-kit/ui-kit-footer/css/style.css', rel='stylesheet')
//- link(href='#{cdnServer}/ui-kit/ui-kit-header/css/style.css', rel='stylesheet')
//- link(href='#{cdnServer}/ui-kit/ui-kit-price/css/style.css', rel='stylesheet')
//- link(href='#{cdnServer}/ui-kit/ui-kit-projects/css/style.css', rel='stylesheet')