script(src='#{cdnServer}/js/all.min.js#{cacheBreaker}')
script(src='#{cdnServer}/js/custom.js#{cacheBreaker}')

//- script(src='#{cdnServer}/common-files/js/jquery-1.10.2.min.js')
//- script(src='#{cdnServer}/flat-ui/js/bootstrap.min.js')
//- script(src='#{cdnServer}/common-files/js/modernizr.custom.js')
//- script(src='#{cdnServer}/common-files/js/page-transitions.js')
//- script(src='#{cdnServer}/common-files/js/startup-kit.js')
//- Jasny
//- script(src='#{cdnServer}/jasny/js/jasny-bootstrap.js')
//- Drywall and etc
//- script(src='#{cdnServer}/vendor/underscore/underscore-min.js')
//- script(src='#{cdnServer}/vendor/backbone/backbone-min.js')
//- script(src='#{cdnServer}/vendor/momentjs/min/moment.min.js')
//- script(src='#{cdnServer}/layouts/core.js')